// ===========================================================================
// ==== ANIMATIONS
// ===========================================================================

@keyframes fadeInAndGrow {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeInAndGrow {
  animation-name: fadeInAndGrow;
  transform-origin: bottom center;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.slideUp {
  animation-name: slideUp;
  animation-delay: 0.25s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slideDown {
  animation-name: slideDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
