// ===========================================================================
// ==== GLOBAL ELEMENTS
// ===========================================================================
body {
  background: $bg-clr;
  background-image: linear-gradient(90deg, rgb(36, 38, 39), rgb(5, 5, 5));
  border-bottom: 12px solid $black;
  font-family: $font-sans-reg;
  overflow-x: hidden;
  position: relative;
  width: 100%;

  @include mq($L) {
    border-bottom: 18px solid $black;
  }

  @include mq($XL) {
    border-bottom: 24px solid $black;
  }

  @include mq($XXL) {
    border-bottom: 36px solid $black;
  }

  &::before {
    background-image: url('/footer-blob.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    height: 200px;
    position: absolute;
    right: 0;
    width: 140px;
    z-index: 0;

    @include mq($L) {
      height: 300px;
      width: 210px;
    }
  }

  &::after {
    background-color: rgba(0, 0, 0, 0.33);
    bottom: 0;
    content: '';
    height: 50%;
    left: 0;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
  }
}

main,
footer {
  p + *,
  ul + *,
  ol + * {
    margin-top: $space-400;
  }

  p {
    font-size: 1.0625rem;
    margin-bottom: 0;
  }

  ul {
    list-style: none;
  }

  ul.aligned-list {
    list-style: disc;
    margin-left: $space-300;

    li {
      margin-bottom: $space-300;
      padding-left: $space-500;
      text-indent: -$space-500;
    }
  }

  a {
    border-bottom: 1px dashed $link-clr;
    color: $link-clr;
    padding-bottom: 2px;
    text-decoration: none;

    &:hover,
    &:active {
      color: $link-hover-clr;
    }
  }
}

h1,
.h1,
h2,
.h2 {
  font-family: $font-serif-xlight-italic;
  font-weight: 100;
}

h3 {
  font-family: $font-sans-bold;
}

h1,
.h1,
h2,
.h2 {
  margin-bottom: $space-400;
}

h3,
.h3,
h4,
.h4 {
  margin-bottom: 0.25rem;
}

strong {
  font-family: $font-sans-bold;
}

small {
  font-size: 0.85rem;
}
p:has(small) {
  line-height: 1.125;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.iframe-container {
  height: 0;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;

  &.iframe-container-16x9 {
    padding-bottom: 56.25%; // for 16x9 windows
  }

  &.iframe-container-4x3 {
    padding-bottom: 75%; // for 4x3 windows
  }

  iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.content-wrapper {
  background-color: $beige;
}

.container {
  padding: 0 $space-500;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width-small;
  width: 100%;

  @include mq($L) {
    max-width: ($container-width-large);
  }

  > section {
    margin-left: auto;
    margin-right: auto;
  }
}

.bottom-content {
  margin-top: -22rem;
  position: relative;
  z-index: 1;

  @include mq($XL) {
    margin-top: -15rem;
  }

  @include mq($XXL) {
    margin-top: -12rem;
  }
}
