.contact {
  padding-bottom: $space-400;

  @include mq($L) {
    display: flex;
    justify-content: center;
    padding-bottom: $space-800;
  }

  @include mq($XL) {
    padding-bottom: $space-850;
  }

  &__columns {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    padding-bottom: $space-300;
    position: relative;
    text-align: center;
    width: 100%;

    @include mq($M) {
      border-bottom: 2px solid $black;
      flex-direction: row;
      justify-content: center;

      &::after {
        background-image: url('/footer-t.svg');
        background-position: center;
        background-repeat: no-repeat;
        bottom: 0;
        content: '';
        height: 110px;
        position: absolute;
        width: 160px;
      }
    }

    @include mq($L) {
      gap: 18rem;
    }
  }

  &__column {
    align-items: center;
    display: flex;
    flex-direction: column;

    &:first-of-type {
      display: none;

      @include mq($M) {
        display: block;
      }
    }

    @include mq($L) {
      max-width: 22.5rem;
    }

    &-copy {
      font-size: 0.875rem;
      max-width: 15rem;
    }
  }

  &__button {
    margin-bottom: $space-300;
    width: 100%;
  }

  &__logo {
    height: auto;
    transform: translate(3rem, 2.5rem);
    width: 200px;

    @include mq($L) {
      transform: translate(4rem, 0.5rem);
    }

    path {
      fill: #050505;
    }
  }
}
