// ===========================================================================
// ==== HEADER
// ===========================================================================
.header {
  padding-top: $space-700;
  position: relative;
  transition: background-image 0.3s ease-out;
  width: 100%;

  @include mq($M) {
    margin-bottom: $space-800;
    padding-bottom: $space-200;
    padding-top: $space-400;
    position: sticky;
    top: 0;
    z-index: 2;

    &::before {
      background-image: linear-gradient(
        90deg,
        rgb(236, 169, 91),
        rgb(248, 209, 109)
      );
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 1.5s ease-out;
      z-index: -1;
    }
  }

  &__background {
    &::before {
      opacity: 0.9625;
    }
  }

  > .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 73.75rem;
    margin-left: auto;
    margin-right: auto;

    @include mq($M) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include mq($XL) {
      padding: 0;
    }
  }

  &__logo {
    height: 45px;
    margin-bottom: $space-400;
    width: 163px;

    &-link {
      outline: none;

      &:hover {
        border-bottom: none;
      }

      &:focus-visible {
        border-bottom: 1px solid $black;
      }
    }
  }
}

.nav {
  @include mq($M) {
    transform: translateY(-0.5rem);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: $space-400;
    row-gap: $space-200;
    justify-content: center;

    @include mq($M) {
      column-gap: $space-500;
      flex-wrap: nowrap;
    }

    @include mq($L) {
      column-gap: $space-550;
    }

    @include mq($L) {
      column-gap: $space-600;
    }
  }

  &__link {
    color: $black;
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;

    @include mq($M) {
      font-size: 1.25rem;
    }

    &:focus,
    &:hover {
      border-bottom: 1px solid $black;
    }
  }
}
