// ===========================================================================
// ==== HEADER
// ===========================================================================
.header {
  margin-top: $space-700;
  max-width: 73.75rem;
  margin-left: auto;
  margin-right: auto;

  @include mq($M) {
    margin-bottom: $space-700;
    margin-top: $space-500;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  > .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq($M) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include mq($XL) {
      padding: 0;
    }
  }

  &__logo {
    height: 45px;
    margin-bottom: $space-400;
    width: 163px;
  }
}

.nav {
  @include mq($M) {
    transform: translateY(-0.5rem);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: $space-400;
    row-gap: $space-200;
    justify-content: center;

    @include mq($M) {
      column-gap: $space-500;
      flex-wrap: nowrap;
    }

    @include mq($L) {
      column-gap: $space-550;
    }

    @include mq($L) {
      column-gap: $space-600;
    }
  }

  &__link {
    color: $black;
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;

    @include mq($M) {
      font-size: 1.25rem;
    }

    &:focus,
    &:hover {
      border-bottom: 1px solid $black;
    }
  }
}
