.hero {
  margin-bottom: $space-600;

  @include mq($L) {
    margin-bottom: $space-700;
  }

  &__copy {
    margin-bottom: $space-600;
  }

  &__marquee {
    display: flex;

    &--small {
      font-size: 1.5rem;

      span::after {
        width: 1rem;
      }
    }

    &--large {
      font-size: 2rem;

      span::after {
        width: 1.5rem;
      }
    }

    span {
      align-items: center;
      display: flex;
      margin-right: $space-400;

      &::after {
        content: url(/marquee-separator.svg);
        display: block;
        height: 1.325em;
        margin-left: $space-400;
      }
    }
  }
}
