.problem {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: $space-600;
  max-width: 73.75rem;

  @include mq($L) {
    margin-bottom: $space-700;
  }

  &__image {
    &-wrapper {
      margin-bottom: $space-400;
      width: 100%;

      @include mq($M) {
        margin-bottom: $space-600;
      }
    }
  }

  &__heading {
    margin-bottom: $space-400;
    text-align: center;

    @include mq($M) {
      margin-bottom: $space-600;
    }
  }

  &__columns {
    display: flex;
    flex-direction: column;
    gap: $space-600;

    @include mq($M) {
      flex-direction: row;
    }

    @include mq($L) {
      flex-direction: row;
      gap: $space-400;
      max-width: 60rem;

      > div:first-child {
        flex-basis: 45%;
      }

      > div:last-child {
        padding-left: $space-700;

        .problem__column-icon {
          width: 40%;
        }
      }
    }
  }

  &__column {
    align-items: center;
    display: flex;
    flex-direction: column;

    &-heading {
      margin-bottom: $space-300;
    }

    &-copy {
      margin-bottom: $space-500;

      @include mq($L) {
        margin-bottom: $space-600;
      }
    }

    &-icon {
      margin-bottom: $space-400;
      margin-left: auto;
      margin-right: auto;
    }

    &-icon-text {
      font-family: $font-sans-bold;
      font-weight: 700;
    }
  }
}
