.process {
  margin-bottom: $space-600;

  @include mq($L) {
    margin-bottom: $space-700;
  }

  &__header-block {
    align-items: center;
    background-color: $black;
    display: flex;
    margin-bottom: $space-500;
    padding-left: $space-400;
    padding-right: $space-400;

    &-copy {
      color: $white;
      font-family: $font-serif-xlight-italic;
      font-size: 1.5rem;
      line-height: 1.25;
    }

    &-image {
      &-wrapper {
        width: 100%;
      }
    }
  }

  &__heading {
    margin-bottom: $space-400;
    text-align: center;
  }

  &__copy {
    margin-bottom: $space-600;
    text-align: center;
  }

  &__columns {
    display: flex;
    flex-direction: column;
    gap: $space-400;
  }

  &__column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $space-300;
  }
}
