.process {
  margin-bottom: $space-600;
  max-width: 73.75rem;

  &__heading {
    margin-bottom: $space-400;
    text-align: center;

    @include mq($M) {
      margin-bottom: $space-600;
    }
  }

  &__copy {
    margin-bottom: $space-600;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    text-align: center;
  }

  &__columns {
    border-bottom: 6px solid $black;
    display: flex;
    flex-direction: column;
    gap: $space-600;
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem;
    padding-bottom: $space-600;

    @include mq($L) {
      flex-direction: row;
      gap: $space-600;
      max-width: 60rem;
      padding-bottom: $space-800;
    }
  }

  &__column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $space-300;

    &-icon {
      height: 8rem;
      width: 8.125rem;
    }
  }
}
