.problem {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: $space-550;
  margin-top: $space-600;
  max-width: 73.75rem;

  @include mq($L) {
    margin-bottom: $space-500;
    margin-top: $space-700;
  }

  @include mq($XL) {
    margin-bottom: $space-600;
    margin-top: $space-800;
  }

  &__heading {
    margin-bottom: $space-600;
    text-align: center;

    @include mq($M) {
      margin-bottom: $space-800;
    }
  }

  &__columns {
    display: flex;
    flex-direction: column;
    gap: $space-400;

    @include mq($M) {
      flex-direction: row;
    }

    @include mq($L) {
      flex-direction: row;
      gap: $space-800;
      max-width: 60rem;

      > div {
        flex-basis: 50%;
      }
    }

    > div:first-of-type {
      align-items: center;
      display: flex;
      flex-direction: column;

      p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 18rem;
      }
    }
  }

  &__column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $space-400;

    &-image {
      margin-bottom: $space-500;
    }

    &-heading {
      color: $copper;
      font-family: $font-serif-reg;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: $space-300;
      text-wrap: balance;
    }

    &-copy {
      line-height: 1.33;
      margin-bottom: $space-500;

      @include mq($L) {
        margin-bottom: $space-600;
      }
    }

    &-icon {
      margin-bottom: $space-400;
      margin-left: auto;
      margin-right: auto;
    }

    &-icon-text {
      font-family: $font-sans;
      font-weight: 700;
    }
  }
}
