.products {
  background-image: linear-gradient(
    90deg,
    rgb(223, 154, 100),
    rgb(156, 126, 82)
  );
  padding-bottom: 28rem;
  padding-top: 15rem;
  position: relative;

  @include mq($M) {
    padding-bottom: 29rem;
    padding-top: 16rem;
  }

  @include mq($XL) {
    padding-bottom: 30rem;
    padding-top: 17rem;
  }

  &::before {
    background-image: url('/products-curve-top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 260px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &::after {
    background-image: url('/products-curve-bottom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    display: block;
    height: 530px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &__heading {
    color: $white;
    margin-bottom: $space-400;
    text-align: center;

    @include mq($M) {
      font-size: 3rem;
    }
  }

  &__copy {
    color: $white;
    margin-bottom: $space-600;
    margin-left: auto;
    margin-right: auto;
    max-width: 52.5rem;
    text-align: center;

    p {
      max-width: none;
      font-size: 1.25em;

      strong {
        font-family: $font-serif-reg;
        font-size: 1.5em;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $space-400;

    @include mq($S) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: $space-200;

    @include mq($S) {
      flex-basis: calc(50% - #{$space-400});
    }

    @include mq($M) {
      flex-basis: calc(33.33333% - #{$space-400});
    }

    @include mq($L) {
      flex-basis: calc(20% - #{$space-400});
    }

    &-wrapper {
      padding: $space-200 $space-400;
    }
  }

  &__title {
    color: $white;
    font-family: $font-serif-italic;
    font-size: 2rem;
    text-align: center;
  }
}
