@use 'sass:math';

.button {
  background-color: transparent;
  border: 2px solid $black;
  border-radius: 25px;
  color: $black;
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  line-height: 1;
  max-width: 15rem;
  padding: $space-300;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s ease-out;

  &--primary {
    &::after {
      content: '⟶';
      transform: translateY(-0.125rem);
    }
  }

  &--secondary {
    font-family: $font-serif-light;
    text-transform: none;
  }

  &:focus,
  &:hover {
    background-color: $black;
    color: $white;

    .button__icon {
      fill: $white;
    }
  }

  &--reversed {
    border-color: $white;
    color: $white;

    &:focus,
    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &--solid {
    background-color: $white;
    color: $black;

    &:focus,
    &:hover {
      background-color: $black;
      color: $white;
    }

    &.button--reversed {
      background-color: $black;
      color: $white;

      &:focus,
      &:hover {
        background-color: $white;
        border-color: $black;
        color: $black;
      }
    }
  }

  span {
    display: inline-block;
    transform: translateY(2px);
  }

  &__icon {
    display: inline;
    height: 12px;
    margin-left: $space-200;
    transition: fill 0.2s ease-out;
    width: 12px;
  }
}
